{
  "extends": [
    "airbnb"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "tsx": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": [0],
    "import/extensions": "off",
    "no-use-before-define": "off",
  }
}
